body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 5px;
}

h1 {
    text-align: center;
}

div {
    margin-block-end: 5px;
}

#addButtons {
    align-content: center;
    width: 100%;
    display: flex;
}

input[type=submit] {
    background-color: #7D94FA;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    flex-grow: 1;
}

#user_list {
    list-style-type: none;
    justify-content: left;
    padding: 0px;
    margin: 0px;
}

.activeUser {
    border: 5px dashed black;
}

#user_list li {
    background: #8E7DFA;
    margin: 0px 5px;
    text-align: center;
    align-content: center;
    width: 100px;
    height: 100px;
    display: inline-block;
}

#movie_list {
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

#movie_list li {
    width: 300px;
    height: 100px;
    background: #7DE3FA;
    margin: 5px auto; 
    justify-content: center;
    align-items: center;
    cursor: grab;
    border-radius: 15px;
    display: flex;
}





